@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    color: #ffffff;
    font-size: 30px;
    margin-left: 26%;
    font-family: 'Dosis', sans-serif;
}

.name {
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

div > button {
  width: 250px;
  height: 37px;
  font-size: 30px;
  background-color: #15dd8a;
  color: #ffff;
  border: none;
  margin-top: 10px;
  font-family: 'Dosis', sans-serif;
} 

div > input {
  height: 33px;
  width: 250px;
}

.container_conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}